<div class="bg-light py-5 mb-5 my-1">
    <div class="container">
        <h1 class="display-1 text-center mb-0">About Us</h1>
    </div>
</div>
<div class="container">
    <section class="mb-5">
        <h2 class="text-center mb-4">Our story</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis convallis velit quis sapien sollicitudin ultrices. Ut metus tortor, aliquet non rutrum ac, dapibus vehicula augue. Etiam congue erat sem, vitae gravida nunc pretium vitae. Fusce sed ex tellus. Quisque auctor viverra feugiat. Nulla urna odio, porta ut tristique ut, consequat non dolor. Etiam varius maximus dolor, at consectetur lectus. Mauris rutrum aliquet tellus, sed convallis diam.</p>
        <p>Etiam aliquam lectus eget mauris tempor fermentum. Praesent ac dolor quis diam ultrices commodo. Cras efficitur tellus ante, non facilisis justo varius vel. Maecenas aliquet finibus ultricies. Quisque nec est posuere, luctus orci suscipit, convallis lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus fermentum, ligula et bibendum gravida, turpis turpis imperdiet est, ac sodales orci ex volutpat lectus. Quisque quis elit laoreet, pellentesque ligula nec, faucibus felis. Vestibulum feugiat viverra semper.</p>
        <p>Vivamus sit amet tortor interdum, ultricies neque eget, cursus massa. Ut maximus lorem in posuere luctus. Vestibulum imperdiet mi at orci pulvinar lobortis. Vestibulum finibus elementum dolor et bibendum. Donec eu velit dolor. Aliquam viverra maximus sapien et varius. Proin velit justo, fringilla vitae dui sed, vehicula pulvinar magna. Curabitur leo mi, sodales id lectus scelerisque, viverra auctor arcu. Pellentesque aliquam mattis tortor, quis malesuada libero posuere vel. Etiam ut augue urna. Sed viverra justo vitae ornare posuere.</p>
    </section>
    <section class="mb-5">
        <h2 class="text-center mb-4">Our office</h2>
        <div class="row">
            <div class="col-lg-6">
                <figure class="figure mb-lg-0">
                    <img src="/Images/about/pexels-zvolskiy-2253643.jpg" class="figure-img img-fluid" alt="Figure1" height="800" width="600">
                    <figcaption class="figure-caption small">
                        <div class="fst-italic">Photo by: Photographer Name</div>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque lorem sed elementum.</p>
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-6">
                <figure class="figure mb-0">
                    <img src="/Images/about/pexels-fotios-photos-1855214.jpg" class="figure-img img-fluid" alt="Figure2" height="800" width="600">
                    <figcaption class="figure-caption small">
                        <div class="fst-italic">Photo by: Photographer Name</div>
                        <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In laoreet pellentesque lorem sed elementum.</p>
                    </figcaption>
                </figure>
            </div>
        </div>
    </section>
    <section class="mb-5">
        <h2 class="text-center mb-4">Our brands</h2>
        <div class="row g-3">
            <div class="col-6 col-sm-4 col-lg-2">
                <img src="/Images/brands/cake-dessert.jpg" class="img-fluid" alt="Cake-Dessert">
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <img src="/Images/brands/cake-pie.jpg" class="img-fluid" alt="Cake-Pie">
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <img src="/Images/brands/cake-sugar.jpg" class="img-fluid" alt="Cake-Sugar">
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <img src="/Images/brands/dessert-fruit.jpg" class="img-fluid" alt="Dessert-Fruit">
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <img src="/Images/brands/Tarte aux cerises.jpg" class="img-fluid" alt="Tarte-aux-cerises">
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <img src="/Images/brands/Tarte aux pommes.jpg" class="img-fluid" alt="Tarte-aux-pommes">
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <img src="img/400x300.png" class="img-fluid">
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <img src="img/400x300.png" class="img-fluid">
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <img src="img/400x300.png" class="img-fluid">
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <img src="img/400x300.png" class="img-fluid">
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <img src="img/400x300.png" class="img-fluid">
            </div>
            <div class="col-6 col-sm-4 col-lg-2">
                <img src="img/400x300.png" class="img-fluid">
            </div>
        </div>
    </section>
</div>