<footer class="bg-light my-1">
    <div class="container py-5">
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <h6>Quick links:</h6>
                <ul class="list-unstyled">
                    <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                    <li><a href="shop.html">Shop</a></li>
                    <li><a asp-controller="About" asp-action="Index">About</a></li>
                    <li><a asp-controller="Contact" asp-action="Index">Contact</a></li>
                    <li><a href="wishlist.html">Wishlist</a></li>
                    <li><a asp-controller="ShoppingCart" asp-action="Index">Cart</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h6>Information:</h6>
                <ul class="list-unstyled">
                    <li><a href="faq.html">Frequently Asked Questions</a></li>
                    <li><a href="shipping.html">Shipping</a></li>
                    <li><a href="returns.html">Returns</a></li>
                    <li><a href="terms-of-service.html">Terms of Service</a></li>
                    <li><a href="privacy-policy.html">Privacy Policy</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h6>Follow us:</h6>
                <ul class="list-unstyled">
                    <li><i class="bi-facebook text-primary"></i> <a href="#">Facebook</a></li>
                    <li><i class="bi-instagram text-primary"></i> <a href="#">Instagram</a></li>
                    <li><i class="bi-twitter text-primary"></i> <a href="#">Twitter</a></li>
                    <li><i class="bi-youtube text-primary"></i> <a href="#">YouTube</a></li>
                    <li><i class="bi-linkedin text-primary"></i> <a href="#">LinkedIn</a></li>
                </ul>
            </div>
            <div class="col-sm-6 col-lg-3">
                <h6>Contact:</h6>
                <address>
                    <strong>BethanysPieShop</strong><br>
                    Rue Emile Cuvelier 123<br>
                    5000 Namur<br>
                    Belgium<br />
                    <i class="bi-telephone text-primary"></i> <a href="tel:+32479526813">(+32) 479-526813</a><br>
                    <i class="bi-envelope text-primary"></i> <a href="mailto:info@bethanyspieshop.com">info@bethanyspieshop.com</a>
                </address>
            </div>
        </div>
        <div class="text-center">&copy;@DateTime.Now.Year BethanysPieShop. All rights reserved.</div>
    </div>
</footer>