<div id="carouselImages" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselImages" data-bs-slide-to="4" aria-label="Slide 5"></button>

    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Images/carousel/carousel1.jpg" class="d-block w-100" alt="CarouselPie1">
        </div>
        <div class="carousel-item">
            <img src="~/Images/carousel/carousel2.jpg" class="d-block w-100" alt="CarouselPie2">
        </div>
        <div class="carousel-item">
            <img src="~/Images/carousel/carousel3.jpg" class="d-block w-100" alt="CarouselPie3">
        </div>
        <div class="carousel-item">
            <img src="~/Images/carousel/carousel4.jpg" class="d-block w-100" alt="CarouselPie4" />
        </div>
        <div class="carousel-item">
            <img src="~/Images/carousel/carousel5f.jpg" class="d-block w-100" alt="CarouselPie5" />
        </div>
    </div>
</div>